### 코딩테스트 연습 1일차

#### divmod(x, y)

- 두 숫자를 인자로 전달 받아 첫번째 인자를 두번째 인자로 나눈 몫과 나머지를 tuple 형식으로 반환

In [2]:
# 모든 인자가 양의 정수일 경우
print(divmod(6, 2))
print(divmod(17, 4))

(3, 0)
(4, 1)

In [3]:
# 인자 중 음의 정수가 있을 경우
print(divmod(11, -3))
print(divmod(-11, -3))
print(divmod(-11, 3))

(-4, -1)
(3, -2)
(-4, 1)

In [5]:
# 우리가 알고있는 일반적인 방법과 divmod
# ex) 7을 3으로 나눈 몫과 나머지 구하기
a = 7
b = 3

print(a//b, a%b)
print(divmod(a, b))

2 1
(2, 1)

#### lambda

- 이름이 없는 익명 함수 (anonymous function)
- 필요시 정의하여 사용하고 버리는 일시적인 함수
- lambda 매개변수 : 표현식

In [6]:
# 일반적인 함수 정의
def hap (x, y):
    return x + y

hap(20, 30)

50

In [7]:
# 람다 형식으로 표현하기1
# 람다 함수는 정의와 동시에 사용 가능
(lambda x, y: x + y)(20, 30)

50

In [8]:
# 람다 형식으로 표현하기2
f = lambda x: x + 3
f(5)

8

#### map(함수, 리스트)

- ﻿리스트(list)의 요소를 하나씩 꺼내어 함수에 넣고 리턴된 값으로 새로운 리스트를 만들어 주는 함수

In [9]:
list(map(lambda x: x**2, range(5)))

[0, 1, 4, 9, 16]

In [10]:
a = [1, 2, 3, 4]
b = [34, 21, 10, 18]

list(map(lambda x, y: x + y, a, b))

[35, 23, 13, 22]

#### List comprehension

- 리스트 안에 for 문을 포함
- 좀 더 편리하고 직관적

In [11]:
# a 리스트의 각 항목에 3을 곱한 결과를 result 리스트에 담기

a = [1, 2, 3, 4]
result = []

for i in a:
    result.append(i * 3)

print(result)

[3, 6, 9, 12]

In [12]:
# 위 예제를 list comprehension을 사용하여

a = [1, 2, 3, 4]
result = [i * 3 for i in a]
print(result)

[3, 6, 9, 12]

In [13]:
# 짝수에만 3을 곱하여 담기
# list comprehension 안에 'if조건' 사용할 수 있음

a = [1, 2, 3, 4]
result = [i * 3 for i in a if i % 2 == 0]
print(result)

[6, 12]

In [14]:
# 정수 n이 주어질 때, n 이하의 짝수를 모두 더한 값을 return하는 solution 함수 정의

def solution(n):
    return sum([i for i in range(n+1) if i % 2 == 0])

#### range

- 연속된 숫자(정수)를 만들어줌

In [18]:
# range(stop)
# 0 부터 stop-1 까지의 숫자 생성

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
# range(start, stop)
# start부터 stop-1 까지의 숫자 생성

list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
# range(start, stop, step)
# step은 숫자의 간격

list(range(0, 21, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [21]:
list(range(1, 21, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [25]:
# step으로 음수를 지정할 수도 있음

list(range(20, 0, -2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [26]:
# 정수 n이 주어질 때, n 이하의 짝수를 모두 더한 값을 return하는 solution 함수 정의
# 제한사항 0 < n <= 1000

def solution(n):
    sum(i for i in range(2, n + 1, 2))

#### .index()

- 리스트 메서드 index()
- 리스트 중에서 특정한 원소가 몇 번째 처음으로 등장하는지 알려 줌
- 만약 두 번 이상 원소가 중복되어 존재하는 경우, 맨 처음 등장한 순간의 인덱스 출력
- 문자열에서도 인덱스를 찾을 수 있음

In [27]:
# list.index(x)
# 리스트에서 x의 인덱스 반환

# a 리스트에서 10의 인덱스 찾기
a = [12, 10, 15, 3, 31, 10, 11, 10]
print(a.index(10))

1

In [28]:
# list.index(x, start)
# 리스트[start:]에서 x의 인덱스 반환

# a 리스트에서 10의 인덱스 찾기 (인덱스 2 이후의)
a = [12, 10, 15, 3, 31, 10, 11, 10]
print(a.index(10, 2))

5

In [30]:
# list.index(x, start, stop)
# 리스트[start:stop]에서 x의 인덱스 반환
# stop은 포함되지 않음. 즉 start부터 stop-1까지의 원소들만 포함

# a 리스트에서 10의 인덱스 찾기 (인덱스 6과 8사이의)
a = [12, 10, 15, 3, 31, 10, 11, 10]
print(a.index(10, 6, 8))

7

#### sort 함수

- list.sort()
- 리스트 객체 자체를 정렬해주는 함수
- 리스트에만 사용 가능한 리스트 메서드
- 기본적으로 리스트를 오름차순으로 정렬해주는 기능
- reverse = False: default, 오름차순으로 정렬
- reverse = True: 내림차순으로 정렬

In [32]:
# 기본값(오름차순)

a = [7, 8, 2, 99, 5, 10, 1, 4, 63]
a.sort()
print(a)

[1, 2, 4, 5, 7, 8, 10, 63, 99]

In [33]:
# 오름차순

a = [7, 8, 2, 99, 5, 10, 1, 4, 63]
a.sort(reverse = False)
print(a)

[1, 2, 4, 5, 7, 8, 10, 63, 99]

In [34]:
# 내림차순

a = [7, 8, 2, 99, 5, 10, 1, 4, 63]
a.sort(reverse = True)
print(a)

[99, 63, 10, 8, 7, 5, 4, 2, 1]